@inherits LayoutComponentBase
@using site.Shared.Components;

<header>
    <Navbar />
</header>
<main role="main" class="container py-2">
    @Body
</main>

<footer class="text-muted bg-white">
    <div class="container">
        <div class="d-flex justify-content-between">
            <span>&copy; @DateTime.Now.Year <a href="https://tbdgamer.stream/" target="_blank"> Terry Burns-Dyson</a></span>
            <span>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a></span>
        </div>
    </div>
</footer>

