@inherits LayoutComponentBase
@using site.Shared.Components;

<header>
    <Navbar />
</header>
<main>
    <div class="container">
        @Body
    </div>
</main>
<footer class="page-footer grey darken-4">
    <div class="footer-copyright">
        <div class="container">
            &copy; 2020 Terry Burns-Dyson
        </div>
    </div>
</footer>

