@page "/administration";
@using MediatR
@using application.Query.Administration
@using administration.viewmodels
@using application.Commands.Administration
@using site.Pages.Administration.Components
<h3>Administration</h3>

<PendingStreamers />

<PendingClaims />

@code {
}
