@using viewmodels
@using MediatR
@using application.Query.Administration
<h5>Pending Claims</h5>

<SfGrid DataSource="@Streamers">
    <GridColumns>
        <GridColumn Field=@nameof(StreamerClaimViewModel.CurrentEmail) HeaderText="Current Email" Width="250"> </GridColumn>
        <GridColumn Field=@nameof(StreamerClaimViewModel.UpdatedEmail) HeaderText="Updated Email" Width="250"></GridColumn>
        <GridColumn Field=@nameof(StreamerClaimViewModel.Created) HeaderText="Created" Width="200" Format="d" Type="ColumnType.Date"></GridColumn>
        
        <GridColumn HeaderText="Actions" Width="300">
            <Template>
                @{
                    @*var model = (context as StreamerViewModel);
                    <SfButton IsPrimary="true" @onclick="(() => VerifyStreamer(model))">Verify</SfButton>
                    <SfButton Disabled="@(model.IsRejected)" @onclick="(() => RejectStreamer(model))">Reject</SfButton>
                    <SfButton Disabled="@(!model.IsRejected)" @onclick="(() => DeleteStreamer(model))">Delete</SfButton>*@
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {
    [Inject] private IMediator Mediator { get; set; }

    private IEnumerable<StreamerClaimViewModel> Streamers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadStreamers();
    }

    private async Task LoadStreamers()
    {
        Streamers = await Mediator.Send(new GetPendingClaims());
    }
}