@page "/About"

<h2>developers//stream</h2>
<p>A curated list of development streamers. If you’re interested in being on this list, here’s what I ask;</p>

<ul>
    <li>Fill out an issue on the github page</li>
    <li>Help promote the list (and in turn your fellow streamers) on your stream</li>
</ul>

<p>
    This site is not unique, there are other sites out there that provide lists of streamers such as Belly.io.
    I am also a proud member of the Live Coders team, and if you’re a dev streamer you may be eligible to
    join the team.
</p>

<p>
    If you have any suggestions for improvements, or ideas about what you might like to see or get
    from this, feel free to add an issue.
</p>
