@page "/"
@using MediatR
@using viewmodels
@using application.Query


@if (Streams != null)
{
    <div class="card-columns">
        foreach (var stream in Streams)
        {
            <div class="card">
                <!--<img class="card-img-top" src="@stream.ProfilePicture" alt="Profile">-->
                <div class="card-body">
                    <h5 class="card-title">@stream.Name</h5>
                    <p class="card-text">@stream.Description</p>
                    <!--<a href="@stream.Url" class="btn btn-primary">Go to channel</a>-->
                </div>
            </div>
        }
    </div>
}

<a href="/register-streamer">Register!</a>

@code
{
    [Inject]
    public IMediator Mediator { get; set; }

    public IEnumerable<StreamViewModel> Streams { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Streams = await Mediator.Send(new GetStreams());
    }
}
