@page "/register-streamer"
@using MediatR
@using application.Commands
@using System.ComponentModel.DataAnnotations
<h3>Register Yourself</h3>

<EditForm Model="Model" OnValidSubmit="Register">
    <div class="form-group">
        <InputText @bind-Value="Model.Name" placeholder="Real name or alias" />
    </div>
    <div class="form-group">
        <InputTextArea @bind-Value="Model.Description" placeholder="What do you stream about? What sort of things can people expect?"></InputTextArea>
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <button class="btn btn-primary">Submit</button>
</EditForm>

@code { 
    
    [Inject]
    public IMediator Mediator { get; set; }

    public RegistrationModel Model { get; set; } = new RegistrationModel();

    public async void Register()
    {
        await Mediator.Send(new RegisterNewStreamer
        {
            Name = Model.Name,
            Description = Model.Description
        });
    }

    public class RegistrationModel
    {
        [Required]
        public string Name { get; set; }

        public string Description { get; set; }
    } 
}