@using site.Models


    <PlatformInput OnPlatformAdded="OnPlatformAdded" />
    <SfListView Enable="true" DataSource="Platforms" TValue="Platform" CssClass="platform-listview">
        <ListViewTemplates TValue="Platform">
            <Template>
                <div class="platform-selected">
                    <img src="images/@(context.Name).svg" /><span>
                        @(context.Url)
                        <a class="btn btn-small waves-effect waves-light" @onclick="(() => OnPlatformRemoved(context))"><i class="material-icons">cancel</i></a>
                    </span>
                </div>
            </Template>
        </ListViewTemplates>
    </SfListView>

@code
{
    [Parameter]
    public List<Platform> Platforms { get; set; }

    [Parameter]
    public EventCallback<List<Platform>> PlatformsChanged { get; set; }


    protected void OnPlatformAdded(Platform platform)
    {
        Platforms.Add(platform);

        PlatformsChanged.InvokeAsync(Platforms);
    }

    protected void OnPlatformRemoved(Platform platform)
    {
        Platforms.Remove(platform);

        PlatformsChanged.InvokeAsync(Platforms);
    }
}
