@using site.Models

<div class="card">
    <div class="card-content">
        <span class="card-title">Platforms</span>
        <div class="row">
            <PlatformInput OnPlatformAdded="OnPlatformAdded" />
        </div>
        <ul>
            @foreach (var platform in Platforms)
            {
                <li>@(platform.Url) [@platform.Name]</li>
            }
        </ul>
    </div>
</div>
@code
{
    [Parameter]
    public List<Platform> Platforms { get; set; }

    [Parameter]
    public EventCallback<List<Platform>> PlatformsChanged { get; set; }


    protected void OnPlatformAdded(Platform platform)
    {
        Platforms.Add(platform);

        PlatformsChanged.InvokeAsync(Platforms);
    }
}
