@using Syncfusion.Blazor.Buttons

<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">
            <img src="images/developers_stream.svg" alt="developers//stream" title="developers//stream" />
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/register-streamer" class="btn light-green waves-effect waves-light">Sign-Up</a>
            </li>
        </ul>
    </div>
</nav>