<nav>
    <div class="nav-wrapper grey darken-3">
        <a href="#!"><img title="developers//stream" src="images/developers_stream.svg" /></a>
        <ul class="right">
            <li><a class="btn waves-effect waves-light">Login<i class="material-icons right">login</i></a></li>
            <li><a class="btn waves-effect waves-light" href="/register-streamer">Register<i class="material-icons right">create</i></a></li>
        </ul>
        <div>&nbsp;</div>
    </div>
</nav>